<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cacatUA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="cacatua antiguo" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=cacatua;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="cacatua" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\cacatua.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="cacatUA.Properties.Settings.cacatua" connectionString="Data Source=computoro\sqlexpress;Initial Catalog=cacatua;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="cacatUA.Properties.Settings.cacatuaConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\cacatua.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <cacatUA.Properties.Settings>
            <setting name="cacatUA_Uploader_FileUploader" serializeAs="String">
                <value>http://84.120.44.73/FileUploader.asmx</value>
            </setting>
        </cacatUA.Properties.Settings>
    </applicationSettings>
</configuration>