#div_encuestas
{

}

.tabla_categorias
{
	border: solid 2px;
	border-color: #777;
	margin-top: 20px;
	width: 100%;
    background-color: #777;
}

.celda_categoriaSuperior
{
	padding: 5px 10px 5px 15px;
	background-color: #ddd;
	border: solid 1px;
	border-color: #ddd;
	vertical-align: middle;
	text-align: center;
	font-size: small;
}

.celda_categoriasnombresuperior
{
	padding: 5px 10px 5px 15px;
	background-color: #ddd;
	border: solid 1px;
	border-color: #ddd;
	vertical-align: middle;
	text-align: left;
	font-size: small;
}

.celda_categorias
{
	padding: 5px 10px 5px 15px;
	background-color: White;
	border: solid 1px;
	border-color: #ddd;
	vertical-align: middle;
	text-align: center;
	font-size: small;
}

.celda_categoriasnombre
{
	padding: 5px 10px 5px 15px;
	background-color: White;
	border: solid 1px;
	border-color: #ddd;
	vertical-align: middle;
	text-align: left;
	font-size: small;
}

.boton_categorias 
{
	border: 1px solid #777;
	background: #ddd;
}