.mensaje
{
	color: InfoText;	
}
.enlace
{
	text-decoration: none;
}
.enlace:hover
{
	text-decoration: none;
	color: Yellow;	
}

#mensajeConfirmar
{
	margin-top: 150px;
	text-align: center;
}

#link
{
	margin-top: 50px;
	margin-bottom: 200px;
	text-align: center;
}
