#tablaCrearHilo
{
    width: 70%;
    margin: auto;
}

.columna1CrearHilo
{
    text-align: right;
    padding-right: 10px;
    width: 15%;
}

.columna2CrearHilo textarea
{
    font-size: small;
}

#filaEnviarCrearHilo
{
    text-align: right;
}