#div_encuestas
{

}

.tabla_encuestas
{
	border: solid 1px;
	background-color: black;
	border-color: black;
	margin-top: 20px;
}

.celda_encuestas
{
	padding: 4px 10px 4px 10px;
	background-color: White;
	border: solid 1px;
}

.celda_cabecera
{
	padding: 4px 10px 4px 10px;
	background-color: gray;
	border: solid 1px;
}