#navegacionForo
{
    float: left;
    width: 15%;
}

.categoriaForo
{
    display: block;   
}

#migasForo
{
    margin-bottom: 10px;
}



/********************************************
********************************************/

#contenidoForo
{
    float: right;
    width: 85%;
}

#mostrandoForo
{
    margin-top: 20px;   
}

#hilosForo
{
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #777;
    border: 1px solid #888;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.tablaHilosForo
{
    width: 100%;
    background-color: #fff;
}

.hiloForo
{

}

.enlaceHiloForo
{
    font-weight: bold;
    text-decoration: none;
    color: #777;
}

.enlaceHiloForo:hover
{
    color: #000;   
}

.columna1HiloForo
{
    border: 1px solid #ddd;
    padding: 10px 15px;
}

.columna2HiloForo
{
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: center;
    width: 10%;
}

.columna3HiloForo
{
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: center;
    width: 10%;
}

.columna4HiloForo
{
    border: 1px solid #ddd;
    padding: 10px 15px;
    width: 20%;
}

.tituloHiloForo
{

}

.respuestasHiloForo, .visitasHiloForo
{
    font-size: small;   
}

.creadoHiloForo, .ultimaRespuestaHiloForo
{
    font-size: small;
}

.cabeceraForo
{
    border: 0;
    background-color: #777;
    color: #eee;
    font-size: small;
}

/********************************************
********************************************/

#paginacionForo
{
    clear: both;
}

#cantidadPaginaForo
{
    float: left;
}

#paginasForo
{
    float: right;
}