#navegacionForo
{
    float: left;
    width: 15%;
    padding: 2%;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #aaaaaa;
    border-left: 1px solid #bbbbbb;
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
}

#nombreCategoriasForo
{
    padding-bottom: 20px;
    font-weight: bold;
}

.categoriaForo
{
    display: block;
    font-size: small;
    background: url(../imagenes/lista.png) no-repeat top left;
    padding-left: 25px;
    margin-bottom: 10px;
}

.categoriaForo:hover
{
    background: url(../imagenes/listaencima.png) no-repeat top left;
}

.noCategoriaForo
{
    display: block;
    font-size: small;
    margin-bottom: 10px;
}

.suscribirse
{
    padding-top: 15px;   
}

#migasForo
{
    margin-bottom: 10px;
}



/********************************************
********************************************/

#contenidoForo
{
    float: right;
    width: 78%;
}

#mostrandoForo
{
    position: relative;
    margin-top: 20px;   
}

#busquedaForo
{
    text-align: center;    
}

#crearHiloForo
{
    position: absolute;
    top: 0;
    right: 0;
}

#hilosForo
{
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #777;
    border: 1px solid #888;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.tablaHilosForo
{
    width: 100%;
    background-color: #fff;
}

.hiloForo
{

}

.enlaceHiloForo
{
    font-weight: bold;
    text-decoration: none;
    color: #777;
}

.enlaceHiloForo:hover
{
    color: #000;   
}

.columna1HiloForo
{
    border: 1px solid #ddd;
    padding: 10px 15px;
}

.columna2HiloForo
{
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: center;
    width: 10%;
}

.columna3HiloForo
{
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: center;
    width: 10%;
}

.columna4HiloForo
{
    border: 1px solid #ddd;
    padding: 10px 15px;
    width: 20%;
}

.tituloHiloForo
{

}

.respuestasHiloForo, .visitasHiloForo
{
    font-size: small;   
}

.creadoHiloForo, .ultimaRespuestaHiloForo
{
    font-size: small;
}

.cabeceraForo
{
    border: 0;
    background-color: #777;
    color: #eee;
    font-size: small;
}

/********************************************
********************************************/

#paginacionForo
{
    clear: both;
}

#cantidadPaginaForo
{
    float: left;
}

#paginasForo
{
    float: right;
}