#Content3
{
	text-align:center;
}

#contenidoGaleriaDetalle
{
	width:90%;
	margin: 0 auto;
		
}

.oculto
{
	display:none;
}

.visible
{
	display:block;
}

#imagenSeleccionada
{
	
}

#tablaFotos
{
	
}

.imagenSeleccionable
{
	height: 40px;
}

#tituloImagen
{
	font-size:2em;
	text-align:center;
}

#divContenidoGaleria
{
	text-align:center;
}

#ctl00_ctl00_ContentPlaceHolder_contenido_ContentPlaceHolder_contenidoUsuario_tablaImagenes,#ctl00_ctl00_ContentPlaceHolder_contenido_ContentPlaceHolder_contenidoUsuario_tablaNavegarImagenes
{
	margin: 0 auto;
	text-align:center;
}

#ctl00_ctl00_ContentPlaceHolder_contenido_ContentPlaceHolder_contenidoUsuario_tablaPaginacion
{
	width:600px;
	margin: 0 auto;
	text-align:center;
}

#ctl00_ctl00_ContentPlaceHolder_contenido_ContentPlaceHolder_contenidoUsuario_siguientePagina,#ctl00_ctl00_ContentPlaceHolder_contenido_ContentPlaceHolder_contenidoUsuario_anteriorPagina,#verImagen
{
	color:#555555;
	text-decoration:none;
	
}

a
{
	color:#555555;
	text-decoration:none;
	
}

td
{
	vertical-align:top;
}

#ctl00_ctl00_ContentPlaceHolder_contenido_ContentPlaceHolder_contenidoUsuario_panelImagen
{
	text-align:center;
}

#botonesPaginacionSuperior,#divBotonesPaginacionInferior
{
	text-align:right;
}

#tablaPaginacionSuperior,#tablaPaginacionInferior
{
	width:100%;
}

#divTablaComentario
{
	margin-top: 5px;
    margin-bottom: 20px;
    background-color: #777;
    border: 1px solid #888;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
}

#ctl00_ctl00_ContentPlaceHolder_contenido_ContentPlaceHolder_contenidoUsuario_tablaComentarios
{
	background-color:#FFF;
}

#ctl00_ctl00_ContentPlaceHolder_contenido_ContentPlaceHolder_contenidoUsuario_tablaComentarios td
{
	
}

.comentario
{
	border:1px solid black;
}