*
{
    margin: 0;
    font-family: Calibri, Verdana, Arial;
}

body
{
    background-image: url(../imagenes/fondo.png);
    background-repeat: repeat-x;
    background-color: #dcd9cd;
    text-align: center;
}

#contenedor
{
    text-align: center;
    width: 1000px;
    margin: auto;
}

a
{
       
}



/**********************************************************
**********************************************************/



#encabezado
{
    position: relative;
    margin: auto;
    height: 210px;
    width: 1000px;
}

#acceso
{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 10pt;
}

#internacionalizacion
{
    position: absolute;
    top: 180px;
    left: 20px;
    
}

#cabecera
{
    float: left;
}

#menu
{
    float: left;
    margin-top: 140px;
}

#menu .boton
{
    float: left;
}

#menu .boton a
{
    background: url(../imagenes/boton.png) no-repeat center;
    display: block;
    height: 40px;
    width: 140px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: #c9c9c9;
    padding-top: 20px;
}

#menu .boton a:hover
{
    background: url(../imagenes/boton_encima.png) no-repeat center;
}



/**********************************************************
**********************************************************/

#titulo
{
    font-size: 18pt;
    clear: both;
    text-align: left;
    margin: 30px 50px;
    color: #555555;
    font-weight: bold;
}

#contenido
{
    position: relative;
    clear: both;
    text-align: left;
    margin: 10px 30px;
}

#auxiliar
{
    clear: both;   
}


/**********************************************************
**********************************************************/



#pie
{
    clear: both;
    background: #E7E5DC;
    border-bottom: 1px solid #D5D3CB;
    border-top: 1px solid #F3F2F6;
    color: #625F5B;
    margin: 30px 20px;
    padding: 15px;
    font-size: 10pt;
}
