.tablaFirmas
{
    width: 100%;
    background-color: #fff;	
}

.columna1Firmas
{
    /*border: 1px solid #ddd;*/
    padding: 4px 4px 4px 4px;
    text-align: left;
    font-size: small;
    background-color: #edf8fd;	
}

.columna2Firmas
{
    /*border: 1px solid #ddd;*/
    background-color: #edf8fd;
    padding: 4px 4px 4px 4px;
    text-align: left;
    font-size: small;
    height: 10%;
    width: 90%;	
}

.columna3Firmas
{
    border: 1px solid #edf8fd;
    padding: 4px 4px 4px 4px;
    text-align: left;
    font-size: small;
    /*width: 50%;	*/
}

.cabeceraFirmas
{
    border: 0;
    background-color: #777;
    color: #eee;
    font-size: small;
}

.tituloFirmas
{
	
}

#mostrarFirmas
{
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #777;
    border: 1px solid #888;
    padding: 8px 8px 8px 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
}

#panelFirmar
{
	float: left;	
}
#botonFirmar
{
	float: right;	
}