#migasRespuestasHilo
{
    margin-bottom: 10px;
}



/********************************************
********************************************/

#contenidoRespuestasHilo
{

}

#mostrandoRespuestasHilo
{
    position: relative;
    margin-top: 20px;   
}

#crearRespuesta
{
    position: absolute;
    top: 0;
    right: 0;
}

#respuestasHilo
{
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #777;
    border: 1px solid #888;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.tablaRespuestasHilo
{
    width: 100%;
    background-color: #fff;
}

.respuestaHilo
{
    font-size: small;
}

.enlaceRespuestaHilo
{
    font-weight: bold;
    text-decoration: none;
    color: #777;
    font-size: 14pt;
}

.enlaceRespuestaHilo:hover
{
    color: #000;   
}

.columna1RespuestaHilo
{
    border: 1px solid #ddd;
    padding: 10px 15px;
    width: 180px;
}

.columna2RespuestaHilo
{
    border: 1px solid #ddd;
    padding: 10px 15px;
    vertical-align: top;
}

.filaImparRespuestaHilo
{
    background-color: #f5f5f5;
}

.cabeceraRespuestasHilo
{
    border: 0;
    background-color: #777;
    color: #eee;
    font-size: small;
}

.informacionUsuarioRespuestaHilo
{
    font-size: smaller;
}

.imagenUsuarioRespuestaHilo
{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    max-height: 100px;
}

.textoRespuestaHilo
{
    vertical-align: top;   
}

.fechaRespuestaHilo
{
    display: block;
    margin-bottom: 15px;
    font-size: smaller;
}

/********************************************
********************************************/

#paginacionRespuestasHilo
{
    clear: both;
}

#cantidadPaginaRespuestasHilo
{
    float: left;
}

#paginasRespuestasHilo
{
    float: right;
}

#anadirRespuesta
{
    clear: both;
    background-color: #777;
    padding: 10px;
    margin: 80px 0px;
    -moz-border-radius: 5px;
}

.mensajeIdentificate
{
    color: #fff !important;
}

#anadirRespuesta span
{
    display: block;
    color: #eee;
}

#textareaAnadirRespuesta
{
    margin-right: 4px;
    margin-bottom: 5px;
}

#barraAnadirRespuesta
{
    border-top: 1px solid #555;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    margin-top: 5px;
}