.tablaMensajes
{
    width: 100%;
    background-color: #fff;	
}

.columna1Mensajes
{
    /*border: 1px solid #ddd;*/
    padding: 4px 4px 4px 4px;
    text-align: left;
    font-size: small;
    background-color: #edf8fd;	
}

.columna2Mensajes
{
    /*border: 1px solid #ddd;*/
    background-color: #edf8fd;
    padding: 4px 4px 4px 4px;
    text-align: left;
    font-size: small;
    height: 10%;
    width: 90%;	
}

.columna2bMensajes
{
	background-color: #edf8fd;
    padding: 4px 4px 4px 4px;
    text-align: right;
    font-size: small;
    height: 10%;	
}

.columna3Mensajes
{
    border: 1px solid #edf8fd;
    padding: 4px 4px 4px 4px;
    text-align: left;
    font-size: small;
    /*width: 50%;	*/
}

.cabeceraMensajes
{
    border: 0;
    background-color: #777;
    color: #eee;
    font-size: small;
}

.linkButton
{
	padding-right: 4px;
	padding-left: 4px;	
}

.tituloMensajes
{
	
}

#mostrandoMensajes
{
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #777;
    border: 1px solid #888;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
}

#paginasInf
{
    float: right;
}

#cantidadInf
{
    float: left;
}

.leido
{
	padding: 0px 5px 0px 15px;	
}

.columna1Ordenar
{
	text-align:left;
	padding-right: 50px;	
}

.columna2Ordenar
{
	text-align:right;
	padding-left: 50px;
}

.fotoUsuario
{
    max-width: 100px !important;
    max-height: 100px !important; 
}