*
{
    margin: 0;
    font-family: Calibri, Verdana, Arial;
}

body
{
    background-image: url(../imagenes/fondo.png);
    background-repeat: repeat-x;
    background-color: #dcd9cd;
    text-align: center;
}

#contenedor
{
    text-align: center;
    min-width: 990px;
    max-width: 1240px;
    margin: auto;
}

a
{
	text-decoration: none;       
}
a:hover
{
	text-decoration: none;
	color: Highlight;	
}

img
{
    border: 0;   
}



/**********************************************************
**********************************************************/



#encabezado
{
    position: relative;
    margin: auto;
    height: 170px;
    margin-left: 20px;
    margin-right: 20px;
}

#acceso
{
    position: absolute;
    left: 325px;
    top: 10px;
    font-size: 10pt;
}

#internacionalizacion
{
    position: absolute;
    top: 10px;
    right: 0;
}

#cabecera
{
    float: left;
}

#menu
{
    float: right;
    margin-top: 100px;
}

#menu .boton
{
    float: left;
}

#menu .boton a
{
    background: url(../imagenes/boton.png) no-repeat center;
    display: block;
    height: 33px;
    width: 110px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: #c9c9c9;
    padding-top: 10px;
}

#menu .boton a:hover
{
    background: url(../imagenes/boton_encima.png) no-repeat center;
}

.mensajes
{
    font-size: small;
	position: relative;
	z-index: 10;
	right: 0;
	margin-right: 10%;
	padding: 10px;
	border: 1px solid #000;
	float: right;
	width: 160px;
	
	background-color: #ededed;
}

.mensajesNuevos
{
    font-size: small;
	position: fixed;
	z-index: 10;
	bottom: 0;
	right: 0;
	margin: 10px;
	padding: 10px;
	border: 1px solid #000;
	
	background-color: #dd00bb;
}


/**********************************************************
**********************************************************/

#titulo
{
    font-size: 18pt;
    clear: both;
    text-align: left;
    margin: 20px 20px;
    color: #555555;
    font-weight: bold;
}

#contenido
{
    position: relative;
    clear: both;
    text-align: left;
    margin: 10px 20px;
}

#auxiliar
{
    clear: both;   
}


/**********************************************************
**********************************************************/



#pie
{
    clear: both;
    background: #E7E5DC;
    border-bottom: 1px solid #D5D3CB;
    border-top: 1px solid #F3F2F6;
    color: #625F5B;
    margin: 30px 20px;
    padding: 15px;
    font-size: 10pt;
}
